Package: zabbix-iostat
Version: 1.1-1
Architecture: all
Maintainer: Mark Lehrer <mark.lehrer@wdc.com>
Installed-Size: 42
Depends: libregexp-common-perl, zabbix-agent
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: iostat template and colletion scripts for Zabbix (best viewed in Grafana)
